@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

.signup-page {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #FFF7DC;
        font-family: 'Inter', sans-serif;
    }
}

body {
    overflow-y: hidden;
}

.signup-page {
    *::selection{
    color: #177357;
    background-color: rgb(255, 249, 202);
    }
}

.signup-page .material-icons{
    position: absolute;
    margin-top: 1.3em;
    margin-left: 0.3em;
    display: block;

}
.eye{
    margin-left: 90%;
    cursor: pointer;
    display: inline-block;
    position: absolute;
}

.fa-solid{
    color: #FFF7DC;
    font-size: 20pt;
}
    
.signup-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}


.signup-page a{
    text-decoration: none;
    top: 0;
}

.signup-page a:visited{
    color: #177357;
}

.error{
    color: #ff2400;
    font-style: italic;
    margin-top: 1%;
}

.signup-page i{
    color: #177357;
}

 .boxLeft{
    background-color: #212121;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-height: 100vh;
}



.boxLeft form{
    -webkit-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;
    background-color: #2b2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33vw;
    height: 65vh;
    border-radius: 5px;
}


.signup-page .title{
    -webkit-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;
    width: 21vw;
    text-align: center;
}

.title h2{
    color: #177357;
    font-weight: 900;
    font-size: 20px;
}

.signup-link{
    margin-top:10px;
}

.boxRight{
    position: relative;
    width: 50vw;
    height: 20vh;

}

.signup-page .boxRight img{

    -webkit-animation: fadeInTop 1s both;
    -o-animation: fadeInTop 1s both;
    -moz-animation: fadeInTop 1s both;
    animation: fadeInTop 1s both;
    width: 80%;
    height: 100%;
    margin-left: 10px;
}

.input-box{
    position: relative;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.input-box input{
    border-radius: 4px;
    border: solid #4E4D4D 1px;
    width: 22vw;
    height: 2.3em;
    background-color: #2F2F2F;
    outline: none;
    font-size: 11pt;
    padding-left: 40px;
    padding-right: 40px;
}

.signup-page .input-box input::placeholder{
    font-size: 10pt;
}


.signup-page .input-box input:hover{
    outline: solid #177357 1px;
}

.signup-page .input-box input:focus{
    outline: solid #177357 2px;
}

.signup-page label{
    margin-bottom: 0.2em;
}

.signup-page .button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    margin-left: 1%;
    flex-direction: column;
}


.signup-page .button{
    width: 100%;
    height: 2.5em;
    margin-top: 10%;
    background-color: #ffc124;
    border: solid  1px;
    border-radius: 4px;
    cursor: pointer;
    color: #2b2a2a;
    font-size: 12pt;
    font-weight: bolder;
}

.signup-page .button:hover{
    border: solid #ffc124 2px;
    background-color: #2b2a2a;
    color: #ffc124;
    transition: ease-in-out 0.2s;
    
}

.signup-page .button-box a p{
    font-size: 11pt;
    margin-top: 7px;
    color: #FFF7DC;
}

.button-box span{
    color: #177357;
    font-weight: 900;
}


@-webkit-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes fadeInTop{
    0%{
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes fadeInTop{
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-o-keyframes fadeInTop{
    0%{
        opacity: 0;
        -o-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@media only screen and (max-width: 768px) {
    .signup-page {
        flex-direction: column; /* Coloca os elementos um embaixo do outro */
    }
    .boxLeft, .boxRight {
        width: 100%; /* Define a largura para ocupar toda a largura da tela */
    }
    .boxLeft {
        height: auto; /* Ajusta a altura automaticamente conforme o conteúdo */
    }
    .boxLeft form {
        width: 80%; /* Reduz a largura do formulário */
    }
    .input-box input {
        width: 100%; /* Define a largura total para os inputs */
    }
    .button-box {
        width: 80%; /* Reduz a largura da caixa de botões */
    }
}

/* Estilos para telas menores que 576px (por exemplo, iPhones em modo paisagem) */
@media only screen and (max-width: 576px) {
    .input-box input {
        width: 90%; /* Reduz um pouco mais a largura dos inputs */
    }
    .button-box {
        width: 90%; /* Reduz um pouco mais a largura da caixa de botões */
    }
}

@media only screen and (max-width: 768px) {
    .boxLeft {
        width: 100%;
        height: auto;
    }
    .boxLeft form {
        width: 90%;
    }
    .input-box input {
        width: 100%;
    }
    .button-box {
        width: 100%;
    }

    .imgfour{
        height: 55px;
        width: 215px;
    }
}

@media only screen and (max-width: 576px) {
    .input-box input {
        width: 100%;
    }
    .button-box {
        width: 100%;
    }
}
